@using BlazorUITemplate.Data
@using BlazorUITemplate.Pages

<button class="draggable" draggable="true" @onclick="@(() => HandleClick (ButtonModel))" @ondragstart="@(() => HandleDragStart (ButtonModel))">
    @if (ButtonModel.Name == null)
    {
        @ButtonModel.ComponentType.ToString()
    }
    else
    {
        @ButtonModel.Name
    }
</button>

@code {
    [CascadingParameter] Container Container { get; set; }
    [Parameter] public ButtonModel ButtonModel { get; set; }

    private void HandleDragStart (ButtonModel selectedButtonModel)
    {
        Container.DraggedButton = selectedButtonModel;
    }

    private void HandleClick (ButtonModel selectedButtonModel)
    {
        Container.ClickedButtonId = selectedButtonModel.Id;
    }

}