@using BlazorUITemplate.Data
@using BlazorUITemplate.Enums
@using BlazorUITemplate.Pages
<h3>ComponentList</h3>

<button class="dropzone @dropClass"
    ondragover="event.preventDefault();"
    ondragstart="event.dataTransfer.setData('',event.target.id)"
    @ondragenter="HandleDragEnter"
    @ondragleave="HandleDragLeave">

</button>

@code {
    [CascadingParameter] Container Container { get; set; }
    List<ButtonModel> Buttons = new ();

    string dropClass = "";

    protected override void OnParametersSet ()
    {
        //Buttons.Clear ();
    }

    private void HandleDragEnter ()
    {
        // if (ListStatus == Container.Payload.Status) return;

        /*
        if (AllowedStatus != null && !AllowedStatus.Contains (Container.Payload.Status))
        {
            dropClass = "no-drop";
        }
        else
        {
            dropClass = "can-drop";
        }*/
    }

    private void HandleDragLeave ()
    {
        dropClass = "";
    }

}