@using BlazorUITemplate.Data
@using BlazorUITemplate.Enums
@using BlazorUITemplate.Pages
@using BlazorUITemplate.Services
@inject EventService EventService
@inherits BaseComponent

@if (InputModel.Id==null)
{
    <input type="text" class="form-control draggable" draggable="true"
           placeholder="@InputModel.Placeholder"
           @ondragstart="@(() => HandleDragStart ())"
           disabled/>
}
else
{
    <div  class="input-parent resizable" 
          style="width:@InputModel.Width; height:@InputModel.Height;"
          @onclick="@(() => OnClick ())"
         @onmousemove="OnMouseMove"
         @onmouseleave="OnMouseMove"
         @onmouseout="OnMouseMove">
        <input type="text"  class="dashboard-input"
               style="width:@InputModel.Width; height:@InputModel.Height;"
               placeholder="@InputModel.Placeholder" @bind="SizeInput" @oninput="UpdateSize" 
               >
        
            <div class="resizer top" @onmousedown='(e) => StartResize (e, "top")'></div>
            <div class="resizer right" @onmousedown='(e) => StartResize (e, "right")'></div>
            <div class="resizer bottom" @onmousedown='(e) => StartResize (e, "bottom")'></div>
            <div class="resizer left" @onmousedown='(e) => StartResize (e, "left")'></div>
            <div class="resizer top-left" @onmousedown='(e) => StartResize (e, "top-left")'></div>
            <div class="resizer top-right" @onmousedown='(e) => StartResize (e, "top-right")'></div>
            <div class="resizer bottom-left" @onmousedown='(e) => StartResize (e, "bottom-left")'></div>
            <div class="resizer bottom-right" @onmousedown='(e) => StartResize (e, "bottom-right")'></div>
    </div>
}

@code {
    
    [Parameter] public InputModel InputModel { get; set; }
    
    private string SizeInput
    {
        get => $"{InputModel.Width} x {InputModel.Height}";
        set
        {
            var sizes = value.Split('x', 'X');
            if (sizes.Length == 2)
            {
                InputModel.Width = sizes[0].Trim();
                InputModel.Height = sizes[1].Trim();
            }
        }
    }
    
    private void UpdateSize(ChangeEventArgs eventArgs)
    {
        SizeInput = eventArgs.Value.ToString();
        StateHasChanged();
    }
    
    private void StartResize (MouseEventArgs eventArgs, string resizer)
    {
        Resize (eventArgs,resizer,InputModel.Width,InputModel.Height);
    }

    private void OnMouseMove (MouseEventArgs eventArgs)
    {
        var sizes=MouseMove (eventArgs, InputModel.Width, InputModel.Height);
        InputModel.Width = sizes.Item1;
        InputModel.Height = sizes.Item2;
    }

    private void OnMouseUp (MouseEventArgs eventArgs)
    {
        StopResize ();
    }

    private void HandleDragStart ()
    {
        HandleDrag (InputModel);
    }


    private void OnClick ()
    {
        HandleClick (InputModel);
    }

}