@using BlazorUITemplate.Services
@inherits LayoutComponentBase
@inject EventService EventService


<div class="page" @onmouseup="HandleMouseUp" @onmouseleave="HandleMouseUp">
    <div class="sidebar">
        <NavMenu/>
    </div>

    <main>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

@code
{

    private void HandleMouseUp(MouseEventArgs eventArgs)
    {
        EventService.OnMouseUpEvent (eventArgs);
    }
}
